*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //Evenly tem o mesmo espaçamento entre os elementos espaçamento entre os elementos.

    //Around as extremidades são menores que as do centro.

    //Between o primeiro e o último elemento ficam grudados no começo e final.
}
body{
    background-color: #ffffff;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    box-shadow: #02521a 0px 4px 6px -1px;

    .logo{
        display: flex;

        img{
        width: 35px;
        height: 35px;
    }


    h1{
        
        font-size: 2rem;
        color: rgb(39, 39, 39);
        font-family: poppins, sans-serif;
    }

    }
    
    
    
    a{
        margin: 0 1rem 10rem;
        text-decoration: none;
        color: #4B5563;
        font-weight: bold;
        font-family: poppins, sans-serif;
        
    }
    
}

.btnverde{
    background-color: #10B981;
    padding: 1rem 2rem;
    margin-right: 10px;
    border-radius: 1vh;
    color: #ffffff;
    font-family: poppins, sans-serif;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.caixaapresentacao{
    
    display: flex;
    justify-content: space-around;
    height: 70vh;

    section{
        
        padding: 0px 30px 0px;
        margin: 0 30px 0px;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        h2{
            color: #000000;
            font-family:'Poppins', 'Arial Narrow', Arial, sans-serif;
            font-size: 70px;
            width: 90%;
        }

        p{
            color: #4B5563;
            font-family: 'Inter', 'Arial Narrow', Arial, sans-serif;
            font-size: 34px;
            font-weight: 100;
            width: 90%;
        }
    }

    .btnverdeazul{
        
        width: 30%;
        display: flex;
        justify-content: space-between;

        button {
            height: 60px;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            
            
        }

        img{
            padding-left: 2rem;    
            }

        .btnverdedoar{
            background-color: #16A34A;
            border: none;
            color: #ffffff;
            
        }

        .btnadquirir{
            border: solid #2563EB;
            color: #2563EB;
        }

    }

    

    

}


    

.alcance{
    background-color: #F3F5F8 ;
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    h2{
        margin: 1rem;
        color: #16A34A;
        font-family:Poppins, Haettenschweiler, sans-serif;
        font-weight: 900;
        font-size: 40px;
    }

    p{
        margin: 1rem;
        color: #4B5563;
        font-size: 16px;
        font-family:Poppins, Haettenschweiler, sans-serif;
        font-weight: 450;
    }
    
}

.produtosdisponiveis{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    article{
        box-shadow: #000000 0px 4px 6px -1px;
        background-color: #f4f4f41d;
        border-radius: 10px;
        width: 18%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        justify-content: space-around;

        h3{
            margin: 1rem 0;
            font-family: poppins, sans-serif;
            color: #000000c6;
            text-align: center;
        }

        p{
            margin: 1rem 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #000000;
            text-align: center;
            
        }
        button{
            background-color: #16A34A;
            margin-bottom: 2rem;
            padding: 1rem;
            border-radius: 10px;
            color: #ffffff;
            font-family:'Poppins', 'Arial Narrow', Arial, sans-serif;
            font-weight: 300;
            border: none;
            box-decoration-break: slice;
        }

        img {
            width: 60%;
        }
}

}

@media (max-width: 500px) {
    body{
     background-color: #ffffff;
    }
    header{
        height: 100px;      
        flex-direction: column;
        align-items: center;
        background-color: rgb(255, 255, 255);
      
        nav{
        align-items: center;
        a{
            font-size: 9px;
            font-weight: 600;
            justify-content: center;
        }
      }
        h1{
        font-size: 1rem;
        margin-left: 1rem;
        }
        .btnverde{
            padding: 10px;
        }
    }
    
    
}



@media screen and (max-width: 500px) {
    

    .caixaapresentacao{
        flex-direction: column-reverse;
        align-items: center;

        img{
            width: 60vw;
        }

    section{
        justify-content: space-evenly;
        text-align: center;
        height: 50vh;
        h2{
            font-size: 1.5rem;
            width: 100%;
            
        }
        p{
            width: 100%;
            font-size: 1.5rem;
        }
        
    }
    .btnverdeazul{
    
    
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    
    

    button{
        padding: 10px 20px;
        
        
    }
        img{
            width: 50px;
           
            }
    
    
}



}

.alcance{
    display: flex;
    flex-direction: row;
    
}

.carrossel{
    width: 100%;
    overflow: hidden;

@keyframes animação {

    0% { margin-left: 0;}
    20% { margin-left:0;}
    25% { margin-left: -100%;}
    45% { margin-left: -100%;}
    50% { margin-left: -200%;}
    70% { margin-left: -200%;}
    75% { margin-left: -300%;}
    95% { margin-left: -300%;}
    100% { margin-left: 400%;}

    
}
    
}
.produtosdisponiveis{
        
        width: 100%;
        animation-name: animação;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        box-shadow: #000000 0px 4px 6px -1px;
        background-color: #f4f4f41d;
        border-radius: 10px;
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        margin-top: 1rem;
        gap: 1rem;
        justify-content: space-between;
        

    article{
        
        box-shadow: #000000 0px 4px 6px -1px;
        background-color: #f4f4f41d;
        border-radius: 10px;
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 90px;
        justify-content: space-between;

        h3{
            margin: 1rem 0;
            font-family: poppins, sans-serif;
            color: #000000c6;
            text-align: center;
        }

        p{
            
            width: 50vw;
            margin: 1rem 3 0 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #000000;
            text-align: center;
            
        }
        button{
            background-color:#16A34A;
            padding: 1rem;
            margin-bottom: 20rem;
            border-radius: 10px;
            color: #ffffff;
            font-family: 'popins';
            border: none;
            
        }

        img {
            
            width: 60%;
            margin-top: -2rem;
        }
}

}

}