* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f4f4f4;
  box-shadow: #02521a 0px 4px 6px -1px;
}
header .logo {
  display: flex;
}
header .logo img {
  width: 35px;
  height: 35px;
}
header .logo h1 {
  font-size: 2rem;
  color: rgb(39, 39, 39);
  font-family: poppins, sans-serif;
}
header a {
  margin: 0 1rem 10rem;
  text-decoration: none;
  color: #4B5563;
  font-weight: bold;
  font-family: poppins, sans-serif;
}

.btnverde {
  background-color: #10B981;
  padding: 1rem 2rem;
  margin-right: 10px;
  border-radius: 1vh;
  color: #ffffff;
  font-family: poppins, sans-serif;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.caixaapresentacao {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-right: 10rem;
  margin-left: 10rem;
  padding-bottom: 15rem;
  margin-top: 3rem;
}
.caixaapresentacao img {
  width: 50vh;
  height: 50vh;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: -23.5rem;
}
.caixaapresentacao h2 {
  font-family: poppins, sans-serif;
  color: #1F2937;
  margin-top: 0rem;
  margin-left: 0;
  margin-right: 40%;
  font-size: 8vh;
  text-align: left;
}
.caixaapresentacao p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #4B5563;
  margin-top: 2vh;
  margin-left: 0;
  margin-right: 45%;
  margin-bottom: 5rem;
  font-size: 3vh;
  text-align: left;
}

.btnverdeazul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 22rem;
  border-radius: 1vh;
  border: none;
  color: #ffffff;
  font-family: poppins, sans-serif;
  cursor: pointer;
}

.btnverdedoar {
  display: flex;
  flex-direction: row;
  background-color: #10B981;
  padding: 1.5rem 1.5rem;
  border-radius: 1vh;
  border: none;
  color: #ffffff;
  font-family: poppins, sans-serif;
  cursor: pointer;
}
.btnverdedoar img {
  width: 20px;
  height: 20px;
  margin-top: 0rem;
  margin-left: 15px;
}

.btnadquirir {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  padding: 1.5rem 1.5rem;
  border-radius: 1vh;
  border: solid #2563EB 1px;
  color: #2563EB;
  font-family: poppins, sans-serif;
  cursor: pointer;
}
.btnadquirir img {
  width: 23px;
  height: 20px;
  margin-top: 0rem;
  margin-left: 15px;
}

.produtosdisponiveis {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60vh;
}
.produtosdisponiveis article {
  box-shadow: #000000 0px 4px 6px -1px;
  background-color: rgba(244, 244, 244, 0.1137254902);
  border-radius: 10px;
  width: 18%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-left: 10vh;
  margin-top: 10vh;
  justify-content: space-around;
}
.produtosdisponiveis article h3 {
  margin: 1rem 0;
  font-family: poppins, sans-serif;
  color: rgba(0, 0, 0, 0.7764705882);
  text-align: center;
}
.produtosdisponiveis article p {
  margin: 1rem 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #f4f4f4;
  text-align: center;
}
.produtosdisponiveis article button {
  background-color: #ffffff;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 10vh;
  color: #000000;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  border: none;
  -webkit-box-decoration-break: slice;
          box-decoration-break: slice;
}
.produtosdisponiveis article img {
  width: 60%;
}

@media (max-width: 500px) {
  body {
    background-color: #ffffff;
  }
  header {
    height: 100px;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
  }
  header nav {
    align-items: center;
  }
  header nav a {
    font-size: 9px;
    font-weight: 600;
    justify-content: center;
  }
  header h1 {
    font-size: 1rem;
    margin-left: 1rem;
  }
  header .btnverde {
    padding: 10px;
  }
  .btnverdeazul .btnverdedoar {
    display: flex;
    flex-direction: row;
    background-color: #10B981;
    padding: 1.5rem 1.5rem;
    border-radius: 1vh;
    color: #ffffff;
    font-family: poppins, sans-serif;
    cursor: pointer;
  }
  .btnverdeazul .btnverdedoar img {
    width: 20px;
    height: 20px;
    margin-top: 0rem;
    margin-left: 15px;
  }
  .btnverdeazul .btnadquirir {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    padding: 1.5rem 1.5rem;
    border-radius: 1vh;
    border: solid #2563EB 1px;
    color: #2563EB;
    font-family: poppins, sans-serif;
    cursor: pointer;
  }
  .btnverdeazul .btnadquirir img {
    width: 23px;
    height: 20px;
    margin-top: 0rem;
    margin-left: 15px;
  }
}
@media screen and (max-width: 500px) {
  .caixaapresentacao {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
  }
  .caixaapresentacao .textoapresentacao {
    display: flex;
    flex-direction: column;
  }
  .caixaapresentacao .textoapresentacao h2 {
    font-family: "Poppins", sans-serif;
    color: #1F2937;
    font-size: 35px;
    font-weight: 700;
    margin: 10px 0 10px 0;
    max-width: 100%;
    border: none;
  }
  .caixaapresentacao .textoapresentacao p {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: #1F2937;
    line-height: 1.5;
    margin: 0 0 20px 0;
    max-width: 90%;
    border: none;
  }
  .caixaapresentacao .btnverdeazul .btnverdedoar {
    display: flex;
    flex-direction: row;
    background-color: #10B981;
    padding: 1.5rem 1.5rem;
    border-radius: 1vh;
    color: #ffffff;
    font-family: poppins, sans-serif;
    cursor: pointer;
  }
  .caixaapresentacao .btnverdeazul .btnverdedoar img {
    width: 20px;
    height: 20px;
    margin-top: 0rem;
    margin-left: 15px;
  }
  .caixaapresentacao .btnverdeazul .btnadquirir {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    padding: 1.5rem 1.5rem;
    border-radius: 1vh;
    border: solid #2563EB 1px;
    color: #2563EB;
    font-family: poppins, sans-serif;
    cursor: pointer;
  }
  .caixaapresentacao .btnverdeazul .btnadquirir img {
    width: 23px;
    height: 20px;
    margin-top: 0rem;
    margin-left: 15px;
  }
  .caixaapresentacao img {
    width: 250px;
    height: auto;
    margin: 0 auto;
  }
  .carrossel {
    border: solid;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    padding: 1rem;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
  .produtosdisponiveis {
    display: flex;
    justify-content: center;
    max-width: 400px;
    background: rgba(172, 172, 172, 0.1450980392);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    scroll-snap-align: center;
    transition: transform 0.3s;
  }
  .produtosdisponiveis:hover {
    transform: scale(1.05);
  }
  .produtosdisponiveis article {
    box-shadow: #000000 0px 4px 6px -1px;
    background-color: rgba(244, 244, 244, 0.1137254902);
    border-radius: 10px;
    width: 500px;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .produtosdisponiveis article h3 {
    margin: 1rem 0;
    font-family: poppins, sans-serif;
    color: rgba(0, 0, 0, 0.7764705882);
    text-align: center;
  }
  .produtosdisponiveis article p {
    margin: 1rem 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    text-align: center;
  }
  .produtosdisponiveis article button {
    background-color: #26a02c;
    margin: 2;
    padding: 1rem;
    border-radius: 10rem;
    color: #000000;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: bold;
    border: none;
    -webkit-box-decoration-break: slice;
            box-decoration-break: slice;
  }
  .produtosdisponiveis article img {
    width: 180px;
  }
  .produtosdisponiveis article:hover {
    background-color: #15803d;
  }
}/*# sourceMappingURL=style.css.map */