*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //Evenly tem o mesmo espaçamento entre os elementos espaçamento entre os elementos.

    //Around as extremidades são menores que as do centro.

    //Between o primeiro e o último elemento ficam grudados no começo e final.
}
body{
    background-color: #ffffff;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    box-shadow: #02521a 0px 4px 6px -1px;

    .logo{
        display: flex;

        img{
        width: 35px;
        height: 35px;
    }


    h1{
        
        font-size: 2rem;
        color: rgb(39, 39, 39);
        font-family: poppins, sans-serif;
    }

    }
    
    
    
    a{
        margin: 0 1rem 10rem;
        text-decoration: none;
        color: #4B5563;
        font-weight: bold;
        font-family: poppins, sans-serif;
        
    }
    
}

.btnverde{
    background-color: #10B981;
    padding: 1rem 2rem;
    margin-right: 10px;
    border-radius: 1vh;
    color: #ffffff;
    font-family: poppins, sans-serif;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.caixaapresentacao{
    
    display: flex;
    justify-content: space-around;
    height: 70vh;

    section{
        padding: 10px 30px 20px;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        h2{
            font-size: 3.5rem;
            width: 60%;
        }

        p{
            font-size: 2rem;
            width: 70%;
        }
    }

    .btnverdeazul{
        background-color: #02521a;
        width: 45%;
        display: flex;
        justify-content: space-between;

        button {
            padding: 10px 20px;
            cursor: pointer;
        }
    }
    

    

}


.produtosdisponiveis{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    article{
        box-shadow: #000000 0px 4px 6px -1px;
        background-color: #f4f4f41d;
        border-radius: 10px;
        width: 18%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin-left: 10vh;
        margin-top: 10vh;
        justify-content: space-around;

        h3{
            margin: 1rem 0;
            font-family: poppins, sans-serif;
            color: #000000c6;
            text-align: center;
        }

        p{
            margin: 1rem 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #f4f4f4;
            text-align: center;
            
        }
        button{
            background-color: #ffffff;
            margin-bottom: 2rem;
            padding: 1rem;
            border-radius: 10vh;
            color: #000000;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: bold;
            border: none;
            box-decoration-break: slice;
        }

        img {
            width: 60%;
        }
}

}

@media (max-width: 500px) {
    body{
     background-color: #ffffff;
    }
    header{
        height: 100px;      
        flex-direction: column;
        align-items: center;
        background-color: rgb(255, 255, 255);
      
        nav{
        align-items: center;
        a{
            font-size: 9px;
            font-weight: 600;
            justify-content: center;
        }
      }
        h1{
        font-size: 1rem;
        margin-left: 1rem;
        }
        .btnverde{
            padding: 10px;
        }
    }
    
    
}



@media screen and (max-width: 500px) {
    

    .caixaapresentacao{
        flex-direction: column;
        align-items: center;

        img{
            width: 50vw;
        }

    section{
        justify-content: space-evenly;
        text-align: center;
        height: 50vh;
        h2{
            font-size: 1.5rem;
            width: 100%;
            
        }
        p{
            width: 100%;
            font-size: 1.5rem;
        }
        
    }
    .btnverdeazul{
    
    border: solid red;
    width: 100%;
    justify-content: space-around;
    

    button{
        padding: 10px 20px;
    }
    img{
        width: 10px;
    }
}
}



  .carrossel {
  display: flex;
  overflow-x: auto;          // permite rolar na horizontal
  scroll-snap-type: x mandatory; // faz o “efeito de encaixe”
  gap: 1rem;
  padding: 1rem;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;


}

  .produtosdisponiveis {
    display: flex;
    justify-content: center;
    max-width: 400px;
    background: #acacac25;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    scroll-snap-align: center;
    transition: transform 0.3s;
    

    &:hover {
      transform: scale(1.05);
    }


    article{
        box-shadow: #000000 0px 4px 6px -1px;
        background-color: #f4f4f41d;
        border-radius: 10px;
        width: 500px;
        height: 380px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        h3{
            margin: 1rem 0;
            font-family: poppins, sans-serif;
            color: #000000c6;
            text-align: center;
        }

        p{
            margin: 1rem 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #000000;
            text-align: center;
            
        }
        button{
            background-color: #26a02c;
            margin: 2;
            padding: 1rem;
            border-radius: 10rem;
            color: #000000;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: bold;
            border: none;
            box-decoration-break: slice;
        }

        img {
            width: 180px;
        }

        &:hover {
        background-color: #15803d;
      }
    }
  }
}